:root {
--White: hsl(0, 0%, 100%);
--Lightgray: hsl(212, 45%, 89%);
--Grayishblue: hsl(220, 15%, 55%);
--Darkblue: hsl(218, 44%, 22%);
--Family:[Outfit](https://fonts.google.com/specimen/Outfit);
--Weights: 400, 700
}

body {
    background-color: var(--Lightgray);
    padding: 10%;
}

#inner_container {
    margin:auto;
    background-color: var(--White);
    border-radius: 1rem;
    width: 280px;
    height: 475px;
    padding: 15px;
}

#qr_text {
    margin: 0 auto;
    text-align: center; 
    padding: .5rem; 
}
h3 {
    font-family: var(--Family);
    font-weight: 700;
}
p {
    font-size: 16px;
    color: var(--Grayishblue);
    font-family: var(--Family);
    font-weight: 400;
}
#qr_image > img {
    width: 100%;
    border-radius: 1rem;
}